<div class="landing">
    <public-navbar></public-navbar>
    <div class="hero">
        <div class="hero-content">
            <div class="hero-content-description">
                <h4 class="mat-headline-4 hero-headline">Code. Connecte. Révolutionne : La communauté africaine des
                    développeurs qui façonne l'avenir numérique !</h4>
                <p>Rejoignez la communauté africaine des développeurs pour propulser votre carrière dans le domaine du
                    développement. Échangez avec des talents passionnés, participez à des projets innovants et restez à
                    la pointe des tendances technologiques. Ensemble, construisons l'avenir numérique de l'Afrique !
                </p>
                <button mat-flat-button color="primary">Ouvrir un compte</button>
            </div>
            <div class="hero-content-images">
                <img src="../../../assets/images/hero/main.png" alt="" id="main">
                <div class="code" id="code-1"></div>
                <div class="code" id="code-2"></div>
                <div class="code" id="code-3"></div>
            </div>
        </div>

    </div>
    <div class="statistics">
        <div>
            <h3 class="mat-headline-3">24K+</h3>
            <p>Membres inscrits dans la communauté</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
            <h3 class="mat-headline-3">$10M+</h3>
            <p>Généré par nos projets</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
            <h3 class="mat-headline-3">100+</h3>
            <p>Projets realisés</p>
        </div>
    </div>
    <div class="our-mission">
        <h4 class="mat-headline-3 headline">C'est quoi notre mission</h4>
        <p>Innovation, inclusion, collaboration : Ensemble pour le futur numérique africain.</p>
        <div class="missions">
            <div>
                <img src="../../../assets/icons/society.png" alt="">
                <h4 class="mat-headline-6 mission-headline">Sensibilisation et impact social </h4>
                <p> Utiliser la technologie pour résoudre les problèmes sociaux à travers des projets à impact social
                    dans
                    des domaines tels que l'éducation, la santé et l'environnement.</p>
                <button mat-stroked-button color="primary">En savoir plus</button>
            </div>
            <div>
                <img src="../../../assets/icons/new-hire.png" alt="">

                <h4 class="mat-headline-6 mission-headline">Réseautage professionnel</h4>
                <p>Faciliter les opportunités de réseautage avec des professionnels de l'industrie, des recruteurs et
                    des
                    entrepreneurs pour ouvrir de nouvelles perspectives de carrière et d'affaires.</p>
                <button mat-stroked-button color="primary">En savoir plus</button>

            </div>
            <div>
                <img src="../../../assets/icons/developer.png" alt="">

                <h4 class="mat-headline-6 mission-headline">Promotion de la diversité et de l'inclusion</h4>
                <p>Encourager la participation des femmes et des personnes sous-représentées dans le domaine de la
                    technologie, en créant un environnement inclusif et respectueux.
                </p>
                <button mat-stroked-button color="primary">En savoir plus</button>

            </div>
            <div>
                <img src="../../../assets/icons/leadership.png" alt="">
                <h4 class="mat-headline-6 mission-headline">Mentorat et encadrement</h4>
                <p> Fournir un soutien personnalisé aux développeurs africains grâce à des mentors expérimentés qui les
                    guident dans leur parcours professionnel.</p>
                <button mat-stroked-button color="primary">En savoir plus</button>

            </div>
            <div>
                <img src="../../../assets/icons/brainstorming.png" alt="">
                <h4 class="mat-headline-6 mission-headline">Collaboration et partage de connaissances</h4>
                <p>Favoriser l'échange et la collaboration entre les développeurs africains à travers des sessions de
                    codage
                    en groupe, des hackathons et des forums de discussion.</p>
                <button mat-stroked-button color="primary">En savoir plus</button>

            </div>
            <div>
                <img src="../../../assets/icons/classroom.png" alt="">
                <h4 class="mat-headline-6 mission-headline">Formation et éducation</h4>
                <p> Offrir des opportunités de formation et d'éducation aux développeurs africains pour renforcer leurs
                    compétences techniques et professionnelles.</p>
                <button mat-stroked-button color="primary">En savoir plus</button>
            </div>
        </div>
    </div>


    <div class="partners">
        <h5 class="mat-headline-4 partners-headline">Nos partenaires</h5>
        <div class="partners-brands">
            <img src="../../../assets/images/external_logos/Turing.png" alt="">
            <img src="../../../assets/images/external_logos/canalplus.png" alt="">
            <img src="../../../assets/images/external_logos/netflix.png" alt="">
        </div>
    </div>


    <div class="footer">
        <ul>
            <li> <img src="../../../assets/images/logo.png" alt=""> </li>
            <li>&copy; 2023 Tout droits reservés</li>
        </ul>
        <ul>
            <li>
                <h6 class="mat-headline-6">Navigation</h6>
            </li>
            <li>
                <a href="#">A propos de nous</a>
            </li>
            <li>
                <a href="#">Notre mission</a>
            </li>
            <li>
                <a href="#">Nous contacter</a>
            </li>
        </ul>
        <ul>
            <li>
                <h6 class="mat-headline-6">Aide</h6>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">Termes d'utilisation</a>
            </li>
            <li>
                <a href="#">Politique de confidentialité</a>
            </li>
        </ul>
        <ul>
            <li>
                <h6 class="mat-headline-6">Contacts</h6>
            </li>
            <li>
                contact@dadebuggers.com
            </li>
            <li>
                +33 745371882
            </li>
        </ul>
        <ul>
            <li>
                <h6 class="mat-headline-6">Nous suivre</h6>
            </li>
            <li>
                <a href="#"><img src="../../../assets/icons/instagram.png" alt="">
                </a>
                <a href="#"><img src="../../../assets/icons/twitter.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>